body{
    padding-top:60px;
}

.navbar-inverse {
     background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.jumbotron{
    background-color: #a234ff;
    color:#fffaf0;

}

.row-header{
    margin:0px auto;
    padding:0px auto;
}
.row-content{
    min-height:300px;
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}